
// Add hover/focus effect.
@mixin hover() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}


// Add focus effect.
@mixin focus() {
  &:focus,
  &:active {
    @content;
  }
}


// Links underlined.
// @param {Bool} $inv [false] - Inverted
@mixin underline($inv: false) {

  @if ($inv) {
    text-decoration: none;

    @include hover {
      text-decoration: underline;
    }
  }
  @else {
    text-decoration: underline;

    @include hover {
      text-decoration: none;
    }
  }

}
