
// Resets margins / borders / paddings.
@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}

// Resets button's styles.
@mixin reset-button {
  @include reset-box-model;
  cursor: pointer;
  background: none;
}

// Reset list's default styles.
@mixin reset-list {
  list-style: none;
  @include reset-box-model;
}
