
// Maintain iframes/objects ratio.
// Applies on the direct parent.
//
// @param {Int} $ratio [9/16] - Ratio 16/9
@mixin ratio-wrap($ratio: 9/16) {
  position: relative;
  padding-bottom: $ratio * 100%;
  height: 0;

  object,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
